.Container {
  padding: 15px 20px;
}
.uploadButton {
  width: 50px;
  height: 50px;
}

.tableContainer {
  background-color: white !important;
}

img {
  max-width: 50%;
  max-height: 50%;
}
.ant-form-item {
  max-width: 50%;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
